*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: gainsboro;
}

h1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #202124;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #202124;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #3B3F46;
}

p {
    font-size: 20px;
    color: #5F6368;
    line-height: 28px;
}


/* Nav */
nav {
    background: white;
    padding: 5px 20px;
    position: fixed;
    width: 100%;    
}
ul {
    list-style-type: none;
}
a {
    color: #202124;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.logo {
    order: 1; 
    flex: 1;
}
.logo a:hover {
    text-decoration: none;
}
.logo a {
    font-size: 20px;
}

.item {
    display: block;
    width: auto;
}
.item {
    order: 1;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.menu li {
    padding: 15px 10px;
}
.menu li.button {
    padding-right: 0;
}




.page-container {
    max-width: 1100px;
    width: 100%;
    height: 5000px;
    background-color: white;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;  
    padding-top: 64px;
}

.video-container {
    display: flex;
    width: 100%;    
    margin-bottom: 20px;
}

.video-container__video {    
    height: 476px;
    background-color: beige;
    flex-grow: 1;
}

.video-container__timestamps {    
    height: 476px;
    min-width: 257px;
    background-color: #202124;
    padding: 10px;
    color: #94989D;
}

.intro-container {
    display: flex;
    width: 100%;   
    margin-bottom: 40px;
}

.intro-container__text {
    max-width: 824px;
    background-color: white;
    flex-shrink: 1;
    padding-right: 10px;
}

.intro-container__links { 
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    min-width: 257px;
}

.intro-container__link:first-child {   
    margin-top: 10px;
}

.intro-container__link {
    width: 239px;
    background-color: white;
    border: 1px solid #202124; 
    height: 40px;
    text-align: center;
    line-height: 40px;     
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}

.technologies-container {
    display: flex;
    width: 100%;   
    margin-bottom: 40px;
}

.technologies-container__text {    
    max-width: 824px;
    background-color: white;
    flex-grow: 1;
}

.technologies-container__technology {
    margin-bottom: 20px;
}

.technologies-container__links {
    height: 276px;    
    background-color: darkgoldenrod;
    flex-grow: 1;
}

.video-container__timestamps__title {

}

.video-container__timestamps__title h2 {
    text-align: center;
    color: #94989D;
    margin-bottom: 10px;
}



.timestamps__row {
    display: flex;    
    width: 227px;
    margin-bottom: 10px;
    height: auto;
    cursor: pointer;
    align-items: baseline;
}

.timestamps__time {      
    min-width: 50px;
    display: flex;    
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    font-size: 16px;

}




.images-container__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.images-container {

}

.images-container__images > div {
    width: 50%;
    padding: 0 0px 10px 0px;  
}

.images-container__images > div:nth-child(even) { 
    padding-left: 5px;     
}

.images-container__images > div:nth-child(odd) { 
    padding-right: 5px;      
}

.images-container__images > div img {
    width: 100%;
}

@media only screen and (max-width: 900px) {

    nav {
        background: white;
        padding: 5px 0px;
        position: fixed;
        width: 100%;    
    }

    .page-container  {        
        width: 100%;
    }

    .intro-container{ 
        flex-direction: column;    
    }

    .video-container__video { 
        height: 276px; 
        background-color: beige;
    }

    .video-container__timestamps {    
        display: none;
    }

    .intro-container__text {
        max-width: 100%;
        padding-right: 0px;
    }

    .intro-container__links { 
        flex-direction: row;   
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 10px;
    }

    .intro-container__link:first-child {   
        margin-top: 0px;
        margin-right: 10px;
    }

    .intro-container__link {
        height: 40px;        
        margin-bottom: 0px;
    }

    .images-container__images > div {
        width: 100%;
        padding: 0 0px 10px 0px;  
    }

    .images-container__images > div:nth-child(even) { 
        padding-left: 0px;     
    }

    .images-container__images > div:nth-child(odd) { 
        padding-right: 0px;      
    }

    .images-container__images > div img {
        width: 100%;
    }



}

.timestamps__event {
    font-size: 20px;
    display: flex;  

    display: flex;  
    flex-direction: column;
    justify-content: flex-start;        
}

.timestamps__scroll {
    overflow: scroll;
    overflow-x: hidden;
    height: 410px;
    margin-right: -10px;
    padding-right: 10px;
}

.timestamps__scroll::-webkit-scrollbar {

}

/* Hide scrollbar for IE and Edge */
.timestamps__scroll {

}

/* width */
.timestamps__scroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.timestamps__scroll::-webkit-scrollbar-track {
    background: #202124; 
}

/* Handle */
.timestamps__scroll::-webkit-scrollbar-thumb {
    background: #3B3F46; 
}

/* Handle on hover */
.timestamps__scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



